{% extends "@App/base.html.twig" %}
{% block body %}
    <nav class="navbar navbar-toggleable-md fixed-top navbar-transparent sticky-navigation">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ion-grid"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="img/logo-w60.png" class="nav-brand-logo" />
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="components" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Components
                    </a>
                    <div class="dropdown-menu" aria-labelledby="components">
                        <a class="dropdown-item page-scroll" href="#buttons">Buttons</a>
                        <a class="dropdown-item page-scroll" href="#forms">Form Elements</a>
                        <a class="dropdown-item page-scroll" href="#navigation">Navigation</a>
                        <a class="dropdown-item page-scroll" href="#progress-pills">Progress / Nav Pills</a>
                        <a class="dropdown-item page-scroll" href="#tabs">Tabs</a>
                        <a class="dropdown-item page-scroll" href="#typography">Typography</a>
                        <a class="dropdown-item page-scroll" href="#media">Media</a>
                        <a class="dropdown-item page-scroll" href="#js-components">JS Components</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#icons">Icons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="examples/landing-page.html">Example</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tooltip" data-placement="bottom" data-title="Share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//wireddots.com/products/wired-ui-kit"><em class="fa fa-facebook"></em></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tooltip" data-placement="bottom" data-title="Tweet" target="_blank" href="https://twitter.com/home?status=Wired%20UI%20Kit%3A%20Free%20Bootstrap%204%20UI%20Kit%20by%20Wired%20Dots%20https%3A//wireddots.com/products/wired-ui-kit%20via%20%40wireddots"><em class="fa fa-twitter"></em></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tooltip" data-placement="bottom" data-title="Share" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//wireddots.com/products/wired-ui-kit&title=Wired%20UI%20Kit%3A%20Free%20Bootstrap%204%20UI%20Kit%20by%20Wired%20Dots&summary=&source="><em class="fa fa-linkedin"></em></a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
